/* the font family is poppins but if the google does not have poppins, lato becomes the font family(fallback) */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  //   background-image: url("images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rebeccapurple;
  font-family: Poppins, lato;
}
.page-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 50vh;

  h2 {
    color: #fff;
  }
  .pw-container {
    background-color: #192644;
    color: #fff;
    width: 400px;
  }
  .pw {
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    width: 100%;
    background-color: rebeccapurple;
  }
  .pw button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s ease transform 0.2s;
    font-family: inherit;
  }
  .pw:hover button {
    transform: translateX(0, -100%);
    opacity: 1;
  }
  .pw-header {
    padding: 1rem;
    // background-color: rebeccapurple;
  }
  .len {
    cursor: pointer;
  }
  .pw-body {
    padding: 1rem;
  }
  .form-control {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    cursor: pointer;
  }
  .generate {
    display: block;
    color: rebeccapurple;
    padding: 0.57rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: bold;
    background-color: #ecb602;
    width: 100%;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
  }
  .generate:hover {
    background-color: rebeccapurple;
    color: #fff;
  }
}
